<div class="text-center">
<h1>Welcome to the Task Manager</h1>
</div>

<div class="col-md-2 col-md-offset-5 text-center"
<nav class="navbar navbar-default">
<ul class="list-group">
  <li class="list-group-item list-group-item-info"><a href="/tasks">Task Index</a></li>
  <li class="list-group-item list-group-item-warning"><a href="/tasks/new">New Task</a></li>
</ul>
</nav>
</div>
