<form action="/tasks" method="post">
  <h1>Enter a new task:</h1>
  <input class="form-control input-lg" type='text' name='task[title]'/><br/>
  <textarea class="form-control" rows="3" name='task[description]'></textarea><br/>
  <input class='btn btn-success' type='submit'/>
</form>
